body{

    height: 100%;
    font-family:"Myriad Pro ", sans-serif;
    font-weight: bold;
}

html{
    height: 100%;
}

.header {
    background-color: #000;
    height: 70px;

 }

.header__wrapper{
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    display: flex;
    align-items: center;
}

.bay {
    color: #ccc;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.logo1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.find{
    margin-left: 18px;
    padding-bottom: 10px;
    padding-top: 12px;
}


input[type="search"] {
    display: block;
    height: 34px;
    width: 375px;
    outline: none;
    padding:0 15px;
}

.find input{
    background: #fff url("img/seace.png")no-repeat right 1px center;
    padding: 0 25px 0 15px;
}

::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
    display: none;
}
.menu {
    background-color: #febd16;
    height: 40px;
    text-decoration: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.menu__item{
    margin-right: 130px;
}

.menu__item:last-child{
    margin-right:0;
}

a.menu1 {

    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.information{
    max-width: 1190px;
    margin: 15px auto 0 ;
}

.information__point {
    display: flex;
    justify-content: center;
}
.information__item{
    padding-right: 63px;
    border-right: 1px solid #000;
    margin-right: 63px;
}
.information__item:last-child{
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

a.information1 {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;

}


h3 {
    padding-top: 65px;
    font-size: 30px;
}

p {
    padding-top: 35px;
    font-size: 14px;
    padding-left: 22px;
}

.email{
    padding-top: 40px;
}

input[type="text"] {
    display: block;
    height: 34px;
    width: 560px;
    outline: none;
    padding:0 15px;
}

input[type="button"] {
    height: 55px;
    width: 280px;
    background-color: #febd16;
    font-weight: bold;
    border: none;
    outline: none;
}

.batton {
    padding-top: 45px;
}

.garanti{
    background-color: #fcbb02;
    height:60px ;
    margin-top: 220px;

}
.garanti__wrapper{
    max-width: 1190px;
    margin: 0  auto ;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcbb02;
}
.gararnti__left {
    display: flex;
    align-items: center;
}

.facebook{
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;



}

.logo3 {
    padding-left: 10px;

}

.footer{
    background-color: black;
    height: 145px;
}

.copyright{

    max-width: 1190px;
    margin:  0  auto;
    padding: 27px 0 ;
    display: flex;
    color: white;
    font-size: 10px;
    line-height: 30px;
}

.text {
    width: 950px;
}

.logo2 {
    margin-left: 140px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.link__1{
   text-decoration: none;
    color: #ccc;
    padding-right: 6px;
    border-right: 1px solid #ccc;
    margin-right: 3px;
}
.link__2 {
    text-decoration: none;
    color: #ccc;
}

}
